extends layout

block content
    .container
        .jumbotron
            h1
                i.fa.fa-gift
                strong  Exchange It!
            p
                i One man's trash is another man's treasure ...
    #map

    script(src='https://maps.googleapis.com/maps/api/js?key=AIzaSyAp90M4-auUW8dWIoYAKDNjrA0dlKXUc_k&callback=initMap', async='', defer='')
    script(src='https://code.jquery.com/jquery-2.1.4.js')
    script(src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js')

